<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
        <title>Salary Predictor</title>
        <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
		<!-- <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}"> -->
		<link rel="stylesheet" href="E:\\StudyMaterial\\Imarticus\\Naukri\\final\\Data-Modelling\\static\\styles\\mainpage.css">
</head>
        <body>
            <div class="login">
                <h1>Salary Analysis</h1>
                <!-- Main Input For Receiving Query to our ML -->
                <form action="{{ url_for('predict')}}" method="post">
                    <!-- <label for="qualification">Choose a Qualification :</label> -->
                   
                    <select name="qualification" id="qualification">
					<option value="{{ qualification }}" selected >{{ qualification }}</option>
                        <option value="Any Graduate">Any Graduate</option>
                        <option value="Btech/Be">B.Tech/B.E</option>
                        <option value="Mba/Pgdm">MBA/PGDM</option>
                        <option value="Bsc/Msc">B.Sc/M.Sc</option>
                        <option value="Any Diploma">Any Diploma</option>
                        <option value="Ba">B.A</option>
                        <option value="Bca">B.C.A</option>
                        <option value="Bcom">B.Com.</option>
                        <option value="Ca">CA</option>
                        <option value="Llb">L.L.B</option>
                    </select>
                    <br></br>
                    							
                    <select name="roles" id="roles">
						<option value="{{ role }}" selected >{{ role }}</option>
                        <option value=".Net  Architect / Developer">.Net  Architect / Developer</option>
                        <option value="Account Marketing / Executive">Account Marketing / Executive</option>
                        <option value="Any / Support / Monitoring / Maintenance Engineer">Any / Support / Monitoring / Maintenance Engineer</option>
                        <option value="BPO">BPO</option>
                        <option value="Business Analyst">Business Analyst</option>
                        <option value="Business Development Executive / Manager / Consultant / Advisor">Business Development Executive / Manager / Consultant / Advisor</option>
                        <option value="Data Scientist / Analyst">Data Scientist / Analyst</option>
                        <option value="Dba Professionals">Dba Professionals</option>
                        <option value="Hr / Hr Manager / Consultant / Advisor / Hr Recruiter">Hr / Hr Manager / Consultant / Advisor / Hr Recruiter</option>
                        <option value="IT - Accounts">IT - Accounts</option>
                        <option value="IT - Admin">IT - Admin</option>
                        <option value="IT - Marketing / Sales Executive / Manager">IT - Marketing / Sales Executive / Manager</option>
                        <option value="Java Developer">Java Developer</option>
                        <option value="Mainframe Developer">Mainframe Developer</option>
                        <option value="Manager / Consultant / Advisor">Manager / Consultant / Advisor</option>
                        <option value="Mobile Application Developer (iOS , Android)">Mobile Application Developer (iOS , Android)</option>
                        <option value="Networking Engineer">Networking Engineer</option>
                        <option value="Online Trainer">Online Trainer</option>
                        <option value="Others">Others</option>
                        <option value="Project or Product Manager / Consultant / Advisor">Project or Product Manager / Consultant / Advisor</option>
                        <option value="Quality Assurance Engineer">Quality Assurance Engineer</option>
                        <option value="Receptionist">Receptionist</option>
                        <option value="Sap Developer / Architect/ Consultant">Sap Developer / Architect/ Consultant</option>
                        <option value="Server Administrator">Server Administrator</option>
                        <option value="Software Developer" >Software Developer</option>
                        <option value="Solution Architect / Cloud Architect / Cloud Computing / Cloud Engineer / Technical Lead / Infrastructure Architect">Solution Architect / Cloud Architect / Cloud Computing / Cloud Engineer / Technical Lead / Infrastructure Architect</option>
                        <option value="Technical Writer">Technical Writer</option>
                        <option value="Ui Developer / Architect / Manager / Consultant / Advisor">Ui Developer / Architect / Manager / Consultant / Advisor</option>
                    </select>
                    <br></br>
                    <input type="number" step="0.1"  name="experience" placeholder="{{ exp }}" required="required" value="{{ exp }}"/>
                    <br></br>
					<input type="number" step="0.01" name="current_salary" placeholder="{{ sal }}" value="{{ sal }}"/>
                    <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
                </form>
                <br>{{ prediction_text }}
                <br>{{ prediction_text2 }}
            </div>
        </body>
    </html>
